RPC_URL=

MAIN_WALLET_ADDRESS=
MAIN_WALLET_PRIVATE_KEY=

USDT_CONTRACT_ADDRESS=

SPLIT_WORKER_ENABLED=true
MIN_SPLIT_THRESHOLD=5
PORT=4020

SPLIT_RULES=[
  {"address":"0xWallet1","percent":30},
  {"address":"0xWallet2","percent":40}
]
