RPC_URL=
MASTER_SEED=
MAIN_WALLET_ADDRESS=

GAS_WALLET_ADDRESS=
GAS_WALLET_PRIVATE_KEY=

USDT_CONTRACT_ADDRESS=

AUTO_SWEEP_LOG_URL=
AUTO_SWEEP_LOG_KEY=

SPLIT_WORKER_ENABLED=false
SPLIT_WORKER_URL=

AUTO_SWEEP_RETRY_ONCE=false

FIXED_GAS_AMOUNT=0.001
MIN_USDT_THRESHOLD=5
PORT=4010
